
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <div class="bodychurch">  
                <h1>Kanye West's sunday service</h1>
                
                <div class ='text1'>It's a weekly service that focuses heavily on music.
                The location varies week to week and can be indoors as well as outdoors.
                The goal is to be able to communicate love effectively through these sessions.
                </div>
                
                <div class='video1'><iframe width="560" height="315" src="https://www.youtube.com/embed/nD0F31hzPeM" frameborder="0"
                     allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                
                <div class ='text2'>Artist Sia attending one of kanyes sunday services</div>
                
                <div class="video2">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/e7NANhFMHWo" frameborder="0" 
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
    </div>
</body>
</html>