body {
  margin: 0px;
  font-family: "Hepta Slab", serif;
}

.header-wrapper {
  max-width: 100%;
  overflow: hidden;
}
.bgCover {
  background: transparent url(/assets/images/Kanye-West-new-backgrounds2.jpg)
    no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 380vh;
  width: 100vw;
  max-width: 100%;
}

.block-album {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 96vh;
  margin-top: -280vh;
  position: absolute;
  font-size: 1em;

  img {
    overflow: hidden;
    width: 500px;
    height: auto;
    -webkit-box-shadow: 0px 0px 29px 1px rgba(168, 168, 168, 0.6);
    -moz-box-shadow: 0px 0px 29px 1px rgba(168, 168, 168, 0.6);
    box-shadow: 0px 0px 29px 1px rgba(168, 168, 168, 0.6);
  }
}

.new-album-info {
  color: #090808;
  $new-album: ".new-album-info div";
  font-size: 5em;
  position: relative;
  top: -110px;
  background-color: rgba(231, 226, 191, 0.2);
  width: 100vw;
  text-align: center;
  $sum: 10;

  @function addMargin($i, $multiplyWith) {
    @each $div in $new-album {
      $sum: $sum + $i * $multiplyWith;
      @return $sum;
    }
  }
  margin: addMargin(10, 5) * 1px;

  div {
    position: relative;
    animation-name: textAni;
    animation-direction: 2s;
  }
}

@keyframes textAni {
  0% {
    right: 0px;
  }
  100% {
    right: 100px;
    // text-align: center;
  }
}

.showing {
  animation-name: show-menu;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes show-menu {
  0% {
    margin-top: -28px;
  }
  100% {
    margin-top: 0px;
  }
}

.removing {
  animation-name: hide-menu;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes hide-menu {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: -28px;
  }
}

.class-hide {
  display: none;
}

.tour {
  min-height: 94vh;
  max-width: 100%;
  color: #090808;
  display: flex;
  flex-direction: column;
  margin: 2% 14%;
  margin-top: -180vh;
  position: relative;
  h1 {
    padding-top: 80px;
    color: #090808;
    font-size: 3em;
  }
  .tour-list {
    border-bottom: 1px solid #090808;
    margin: 0px 40px;
    padding: 0% 12%;
    font-size: 1.3em;

    &:nth-child(odd) {
      background: #c8c9ac;
    }

    &:nth-child(2) {
      border-top: 1px solid #090808;
    }

    div {
      color: #090808;
      display: inline-block;
      padding: 13px;
      width: 25%;
    }
    button {
      font-family: "Hepta Slab", serif;

      background-color: #e7e2bf;
      padding: 10px 20px;
      border: none;
    }
    a {
      text-decoration: none;
    }
  }
}

.video-block,
.quote-block {
  text-align: center;
  position: relative;
  margin-top: 50px;
}

.quote-block {
  border: double 9px;
  width: 40%;
  position: relative;
  margin: 55px auto 65px;
}
.youTube-iframe {
  display: inline-block;
}

.quote {
  font-size: 1.3em;
  margin-top: 40px;
  height: 50px;
}

.quote-btn {
  height: 60px;
  background-color: #928b61;
  border: none;
  border-radius: 6px;
  margin-bottom: 25px;
  width: 210px;
  font-size: 1em;
}
