@import url("https://fonts.googleapis.com/css?family=Teko:400,700&display=swap");

body {
  margin: 0px;
}

.header-wrapper {
  // height: 200vh;
  // width: 100vw;
  max-width: 100%;
  overflow: hidden;
}
.bgCover {
  background: transparent url(/assets/images/Kanye-West-new-backgrounds2.jpg)
    no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 380vh;
  width: 100vw;
  max-width: 100%;
  // animation-name: header;
  // animation-duration: 10s;
  // transform: scale(1, 1);
}
.opacity10 {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

.opacity7 {
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}

.opacity6 {
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
}
.opacity5 {
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.opacity4 {
  filter: alpha(opacity=40);
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;
}
.opacity3 {
  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3;
}
.opacity2 {
  filter: alpha(opacity=20);
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
  opacity: 0.2;
}
.opacity1 {
  filter: alpha(opacity=10);
  -moz-opacity: 0.1;
  -khtml-opacity: 0.1;
  opacity: 0.1;
}

// @keyframes header {
//   0% {
//     transform: scale(1.2, 1.2);
//   }
//   100% {
//     transform: scale(1, 1);
//   }
// }

.absolute {
  position: absolute;
  z-index: 99;
}
.block-album {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 96vh;
  margin-top: -280vh;
  // position: absolute;
  font-size: 1em;

  img {
    overflow: hidden;
    width: 500px;
    height: auto;
  }
}

.new-album-info {
  color: #090808;
  $new-album: ".new-album-info div";
  font-size: 3em;
  $sum: 10;

  @function addMargin($i, $multiplyWith) {
    @each $div in $new-album {
      $sum: $sum + $i * $multiplyWith;
      @return $sum;
    }
  }
  margin: addMargin(10, 5) * 1px;
}

.showing {
  animation-name: show-menu;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes show-menu {
  0% {
    margin-top: -28px;
  }
  100% {
    margin-top: 0px;
  }
}

.removing {
  animation-name: hide-menu;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes hide-menu {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: -28px;
  }
}

.class-hide {
  display: none;
}

.tour {
  font-family: "Teko", sans-serif;
  min-height: 100vh;
  max-width: 100%;
  // background-color: #928b61;
  color: #090808;
  display: flex;
  flex-direction: column;
  margin: 2% 8%;

  h1 {
    padding-top: 80px;
    color: #090808;
    font-size: 3em;
  }
  .tour-list {
    border-bottom: 1px solid #090808;
    margin: 0px 40px;
    padding: 0% 12%;
    font-size: 1.3em;

    &:nth-child(odd) {
      background: #c8c9ac;
    }

    div {
      color: #090808;
      display: inline-block;
      padding: 13px;
      width: 25%;
    }
    button {
      background-color: #e7e2bf;
      padding: 10px 20px;
      border: none;
    }
  }
}

.test-nav {
  background-color: transparent !important;
  background-image: linear-gradient(to left, transparent, #c8c9ac, transparent);
}
