<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body style="margin-top: 0px; background-color: #fff !important">

  <!-- <div class="exit-box">
  </div> -->
  <img src="/assets/images/exitImg.png" alt="" style="display: none" class="exit-img">


      {%include nav.md%}
      {%include indexHeader.html%}
      {%include newAlbum.html%}
        {%include tour.html%}
        {%include video.html%}
        {%include quotesAPI.html%}
        {%include footer.md%}
    {{ content}}
  </body>
  <script src="/assets/mouseExit.js"></script>
</html>
