<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body style="margin-top: 0px;">

    <nav style="margin-top: -28px;" class="class-hide">
      <a href="/index.md">Home</a>
      <a href="/index.md">Merch</a>
      <a href="/index.md">Church</a>
  </nav>

      {%include indexHeader.html%}
      {%include newAlbum.html%}
      {%include tour.html%}
    {{ content}}
  </body>
</html>
